<!-- <p>forgot-password works!</p> -->
<div class="container">
    <div class="row">
        <div class="col-12">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-wrapper">
                <div class="alert alert-warning text-center" *ngIf="errorMsg">{{errorMsg}}</div>
                <h6 class="text-center mb-4">Reset your password</h6>
                <div class="alert alert-info text-center" *ngIf="ResponseMessage">{{ResponseMessage}}</div>
                <form (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm" novalidate>
                    <div class="input-group">
                        <input type="email" class="form-control" id="exampleInputemail" aria-describedby="emailHelp" placeholder="Enter email" name="Email" [(ngModel)]="model.Email" #Email="ngModel" required>
                        <div class="input-group-append">
                            <button class="btn success-btn" type="submit" id="button-addon2">Send link</button>
                        </div>
                    </div>
                    <div *ngIf="isEmailEmpty">
                        <small class="text-danger" *ngIf="Email.errors?.['required']">
                            Email is required.
                        </small>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
