.dropdown-content {
    font-size: 13px !important;
}

.jid-dropdown {
    position: relative;
    font-size: 12px;
    // height: ;
    .dropdown-content {
        position: absolute;
        background-color: #ffffff;
        // transform: translate3d(0px, 33px, 0px);
        transform: translate3d(-28px, 4px, 0px);
        background: #ffffff;
        box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.08);
        border-radius: 11px;
        // padding: .3em .6em;
        padding: 0;
        > *{
            font-size: 12px;
        }
    }
}
