#requisitionForm {
    .title {
        font-size: 1.3rem;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        color: #14323e;
    }
}
