.score-sheet {
    .title {
        font-weight: 700;
        font-size: 26.7719px;
        line-height: 33px;
        color: #000000;
    }
    .brand-logo-wrapper {
        max-width: 180px;
    }

    table{
        font-size: 13px;
        .head-col{
            width: calc(100%/12);
            min-width: calc(40px);
        }
    }
}
