<!-- <p>create-admin-role-dialog works!</p> -->
<div class="card border-rounded-lg ">
    <div class="card-body">
        <h5 class="form-title">Create Role</h5>
        <form [formGroup]="CreateAdminRoleForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group">
                <label for="RoleName" class="required-field-label">Role Name</label>
                <input type="text" id="RoleName" class="form-control" name="RoleName" formControlName="RoleName"
                    [ngClass]="{'is-invalid': CreateAdminRoleForm.get('RoleName')?.touched && CreateAdminRoleForm.get('RoleName')?.invalid}"
                    required>
                <small id="nameErrorMsg" class="form-text text-danger invalid-feedback">Role name
                    is
                    required.</small>
            </div>

            <div class="form-row">
                <div class="form-group col-12">
                    <label for="ModuleName" class="required-field-label">Select Module </label>
                    <ng-select [items]="applicationModules$ | async" bindLabel="ModuleName" bindValue="Id"
                        [multiple]="true" formControlName="ModuleName" [ngClass]="{'is-invalid': CreateAdminRoleForm.get('ModuleName')?.touched && CreateAdminRoleForm.get('ModuleName')?.invalid}">
                    </ng-select>
                    <small id="nameErrorMsg" class="form-text text-danger invalid-feedback">Select at least one module</small>
                </div>
            </div>

            <button class="btn success-btn mb-5" [disabled]="CreateAdminRoleForm.invalid || isSending">
                <ng-container *ngIf="isSending">Creating...</ng-container>
                <ng-container *ngIf="!isSending">Creating</ng-container>
            </button>
            <span class="mx-1"></span>
            <button type="button" class="btn outline-danger-btn mb-5" (click)="cancelDialog()">Cancel</button>
        </form>
    </div>
</div>