<p>company-information-form works!</p>

<div>
    {{CompanyInformationForm.value | json }}
</div>
<div>
    {{CompanyInformationForm.valid | json }}
</div>
<div class="text-danger">
    {{PhoneNumber?.internationalNumber | json}}
</div>
<form [formGroup]="CompanyInformationForm" (ngSubmit)="onSubmitCompanyInfoForm()" class="wide-form-controls-grid">
    <div class="form-row">
        <div class="form-group col-12 col-md-6">
            <label for="CompanyName" class="required-field-label">Company Name</label>
            <input type="text" class="form-control" id="CompanyName" aria-describedby="CompanyNameHelp"
                formControlName="CompanyName" [ngClass]="{
'is-invalid':
CompanyInformationForm.get('CompanyName')?.touched &&
CompanyInformationForm.get('CompanyName')?.invalid
}" required />
        </div>
        <div class="form-group col-12 col-md-6">
            <label for="CompanyEmail" class="required-field-label">Company Email</label>
            <input type="email" class="form-control" id="CompanyEmail" aria-describedby="CompanyEmailHelp"
                formControlName="CompanyEmail" [ngClass]="{
'is-invalid':
CompanyInformationForm.get('CompanyEmail')?.touched &&
CompanyInformationForm.get('CompanyEmail')?.invalid
}" required />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12 col-md-6">
            <label for="Address" class="required-field-label">Address</label>
            <input type="text" class="form-control" id="Address" aria-describedby="AddressHelp"
                formControlName="Address" [ngClass]="{'is-invalid':
            CompanyInformationForm.get('Address')?.touched
            &&
            CompanyInformationForm.get('Address')?.invalid}" required />
        </div>
        <div class="form-group col-12 col-md-6">
            <label for="Location" class="required-field-label">Location</label>
            <select name="Location" id="Location" class="form-control" formControlName="Location" [ngClass]="{'is-invalid':
            CompanyInformationForm.get('Location')?.touched
            &&
            CompanyInformationForm.get('Location')?.invalid}" required>
                <option value="" selected="selected">Select a
                    Location</option>
                <option [value]="location.Value" *ngFor="let
                location of LocationList">{{location.Name}}
                </option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-12 col-md-6">
            <label for="CompanySize">Company Size</label>
            <input type="number" class="form-control" id="CompanySize" aria-describedby="CompanySizeHelp"
                formControlName="CompanySize" />
        </div>
        <div class="form-group col-12 col-md-6">
            <label for="Website">Website</label>
            <input type="text" class="form-control" id="Website" aria-describedby="WebsiteHelp"
                formControlName="Website" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-12 col-md-6">
            <label for="VATReistration" class="required-field-label">VATReistration
                Registration</label>
            <input type="text" class="form-control" id="VATReistration" aria-describedby="VATReistrationHelp"
                formControlName="VATReistration" [ngClass]="{'is-invalid':
            CompanyInformationForm.get('VATReistration')?.touched &&
            CompanyInformationForm.get('VATReistration')?.invalid}" required />
        </div>
        <div class="form-group col-12 col-md-6">
            <label for="PhoneNumber" class="required-field-label">PhoneNumber</label>
            <ngx-intl-tel-input [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
                [preferredCountries]="['nl']" [searchCountryFlag]="true" [selectFirstCountry]="true"
                [phoneValidation]="true" name="PhoneNumber" [(ngModel)]="PhoneNumber"
                [ngModelOptions]="{ standalone: true }" required>
            </ngx-intl-tel-input>
            <small id="phoneNumberErrorMsg" class="form-text text-danger"
                [ngClass]="{ 'd-none': !isphoneNumberError }">Phone number is required.</small>
        </div>
    </div>

    <div class="form-row align-items-end">
        <div class="form-group col-12 col-md-6">
            <label for="Description">Description</label>
            <textarea class="form-control" name="Description" id="" cols="30" rows="4"
                formControlName="Description"></textarea>
        </div>
        <div class="form-group col-12 col-md-6">
            <div class="company-brand-logo-wrapper" *ngIf="logoImgSrc || isExistingCompany">
                <img [src]="logoImgSrc" alt="" class="img-fluid">
            </div>
            <ng-container *ngIf="!isExistingCompany">
                <label for="CompanyLogo" class="file-label">{{
                    CompanyLogoLabel
                    }}</label>
                <input type="file" class="form-control" id="CompanyLogo" hidden
                    (change)="onSelectFile($event)" />
            </ng-container>
        </div>
    </div>
    <div>
        <button class="btn success-btn" matStepperNext [disabled]="!CompanyInformationForm.valid">Next</button>
    </div>
</form>