.options {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;

  .option {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #4f656e;
    font-size: 14px;
  }

  .avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }
}
