<div class="card">
  <div class="card-body">
    <h5 class="form-title text-center">All direct message</h5>
    <input
      type="text"
      class="form-control"
      id="Name"
      formControlName="Name"
      required
      placeholder="@somebody"
    />
    <div class="mt-4 options">
      <div class="option">
        <img
          class="avatar"
          src="https://xsgames.co/randomusers/assets/avatars/male/25.jpg"
          alt="avatar"
        />
        <span>Leslie Alexander</span>
      </div>
      <div class="option">
        <img
          class="avatar"
          src="https://xsgames.co/randomusers/assets/avatars/male/26.jpg"
          alt="avatar"
        />
        <span>Jenny Wilson</span>
      </div>
      <div class="option">
        <img
          class="avatar"
          src="https://xsgames.co/randomusers/assets/avatars/female/26.jpg"
          alt="avatar"
        />
        <span>Darrell Steward</span>
      </div>
    </div>
  </div>
</div>
