<!-- <p>download-job-view-page works!</p> -->

<!-- <div id="page-top">
    <div class="inner text-right">
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn white-btn-green-border" id="dropdownBasic1" ngbDropdownToggle>Download Job</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Disclosed</button>
                <button ngbDropdownItem>Undisclosed</button>
            </div>
        </div>
    </div>
</div> -->
<app-download-job-template></app-download-job-template>
