<!-- <p>projects works!</p> -->

<!-- Table Projects -->
<!--  border-rounded-md -->
    <div class="dashboard-table table-responsive">
        <table class="table">
            <thead class="thead">
                <tr>
                    <th scope="col">Project Name</th>
                    <th scope="col">Time Tracked(hh:mm)</th>
                    <th scope="col">Time Left(hh:mm)</th>
                    <th scope="col">Timeline</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">INTEGRATION pORTAL</th>
                    <td>25:35</td>
                    <td>25:35</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-sm text-green-btn" (click)="openTriggerDialog()">Set Trigger</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>