<!-- <p>update-skill works!</p> -->
<div class="alert alert-info text-center mb-0" *ngIf="responseMsg">
    {{responseMsg}}</div>
<div *ngIf="!responseMsg">

    <form [formGroup]="updateSkillsForm" (ngSubmit)="updateSkills()" novalidate>      
        <div class="text-right">
            <button class="btn btn-sm" (click)="onCloseForm()">
                <i class="fas fa-times text-danger"></i>
            </button>
        </div>
        <div class="form-row">
            <div class="form-group col-12 col-md-6">
                <label for="category">Category</label>
                <select class="form-control" id="category" formControlName="SkillCategoryId" [ngClass]="{'is-invalid': updateSkillsForm.get('SkillCategoryId')?.touched && updateSkillsForm.get('SkillCategoryId')?.invalid}" required>
                    <option value={{item.CategoryId}} *ngFor="let item of categories | orderBy:'CategoryName'">{{item?.CategoryName}}</option>
                </select>
            </div>
            <div class="form-group col-12 col-md-6">
                <label for="skillset">Skill set (e.g PHP, Javascript, C#)</label>
                <input type="text" class="form-control" id="skillset" formControlName="Skills" [ngClass]="{'is-invalid': updateSkillsForm.get('Skills')?.touched && updateSkillsForm.get('Skills')?.invalid}" required>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-outline-success px-5" [disabled]="updateSkillsForm.invalid">SAVE</button>
        </div>
    </form>
</div>
