<!-- <p>admin-create-new-candidate-account works!</p> -->

<div class="text-center alert alert-info" *ngIf="isResponseMsg.message?.length">{{isResponseMsg.message}}</div>
<form [formGroup]="RegisterUserForm" (ngSubmit)="register()" novalidate *ngIf="!isResponseMsg.message?.length">
    <div class="card shadow-sm p-md-4 border-0">
        <div class="card-body">
            <div class="text-right">
                <button class="btn btn-sm p-0" (click)="closeDialog()">
                    <i class="fas fa-times text-danger"></i>
                </button>
            </div>
            <!-- {{RegisterUserForm.value | json}} -->
            <div class="form-card-title mb-3">
                <h4 class="form-title mb-4">CREATE CV ACCOUNT</h4>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-sm-4">
                    <label for="FirstName" class="required-field-label">First Name</label>
                    <!-- <input type="text" class="form-control" id="FirstName" aria-describedby="FirstName"
                        formControlName="FirstName"
                        [ngClass]="{'is-invalid': RegisterUserForm.get('FirstName')?.touched && RegisterUserForm.get('FirstName')?.invalid}"
                        required> -->
                    <input type="text" class="form-control" id="FirstName" aria-describedby="FirstName"
                        formControlName="FirstName"
                        [ngClass]="{'is-invalid': RegisterUserForm.get('FirstName')?.touched && RegisterUserForm.get('FirstName')?.invalid}"
                        required>
                    <small id="nameErrorMsg" class="form-text text-danger invalid-feedback">First Name
                        is
                        required.</small>
                </div>
                <div class="form-group col-12 col-sm-4">
                    <label for="MiddleName">Middle Name</label>
                    <input type="text" class="form-control" id="MiddleName" aria-describedby="MiddleName"
                        formControlName="MiddleName">
                </div>
                <div class="form-group col-12 col-sm-4">
                    <label for="LastName" class="required-field-label">Last Name</label>
                    <input type="text" class="form-control" id="LastName" aria-describedby="LastName"
                        formControlName="LastName"
                        [ngClass]="{'is-invalid': RegisterUserForm.get('LastName')?.touched && RegisterUserForm.get('LastName')?.invalid}"
                        required>
                    <small id="firtsNameErrorMsg" class="form-text text-danger invalid-feedback">Last
                        name is
                        required.</small>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-md-6">
                    <label for="exampleInputEmail1" class="required-field-label">Email Address</label>
                    <input type="email" class="form-control"
                        [ngClass]="{'is-invalid': RegisterUserForm.get('Email')?.touched && RegisterUserForm.get('Email')?.invalid}"
                        id="exampleInputEmail" aria-describedby="EmailHelp" name="Email" formControlName="Email">

                    <span class="invalid-feedback">
                        <small class="form-text text-danger"
                            *ngIf="RegisterUserForm.get('Email')?.hasError('required')">Email is
                            required.
                        </small>
                        <small class="form-text text-danger"
                            *ngIf="RegisterUserForm.get('Email')?.hasError('Email')">You entered an
                            invalid
                            Email.
                        </small>
                    </span>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="PhoneNumber" class="required-field-label">Phone Number</label>
                    <!-- <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': RegisterUserForm.get('PhoneNumber')?.touched && RegisterUserForm.get('PhoneNumber')?.invalid}"
                        id="PhoneNumber" aria-describedby="PhoneNumberHelp" name="PhoneNumber"
                        formControlName="PhoneNumber"> -->
                    <ngx-intl-tel-input [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [preferredCountries]="['nl']" 
                        [searchCountryFlag]="true" [selectFirstCountry]="true" [phoneValidation]="false"
                        name="PhoneNumber"
                        [ngClass]="{'is-invalid': RegisterUserForm.get('PhoneNumber')?.touched && RegisterUserForm.get('PhoneNumber')?.invalid}"
                        formControlName="PhoneNumber">
                    </ngx-intl-tel-input>
                    <small id="phoneNumberErrorMsg" class="form-text text-danger"
                        [ngClass]="{'d-none': !isphoneNumberError}">Phone number is
                        required.</small>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-12 col-md-6">
                    <label for="InvitedBy">Invited By</label>
                    <input type="email" class="form-control" id="InvitedBy" formControlName="InvitedBy"
                        placeholder="Enter email address"
                        [ngClass]="{'is-invalid': RegisterUserForm.get('InvitedBy')?.touched && RegisterUserForm.get('InvitedBy')?.invalid}">
                    <span class="invalid-feedback">
                        <small class="form-text text-danger"
                            *ngIf="RegisterUserForm.get('InvitedBy')?.hasError('required')">Email is
                            required.
                        </small>
                        <small class="form-text text-danger"
                            *ngIf="RegisterUserForm.get('InvitedBy')?.hasError('email')">You entered an
                            invalid
                            Email.
                        </small>
                    </span>
                </div>

                <div class="form-group col-12 col-md-6">
                    <label for="Region" class="required-field-label">Recruitment Region</label>
                    <select name="Region" id="Region" class="form-control" formControlName="Region"
                        [ngClass]="{'is-invalid': RegisterUserForm.get('Region')?.touched && RegisterUserForm.get('Region')?.invalid}"
                        required>
                        <option value="" selected="selected">Select region</option>
                        <option value="{{region}}" *ngFor="let region of regionList">
                            {{region}}</option>
                    </select>
                    <small id="firtsNameErrorMsg" class="form-text text-danger invalid-feedback">Select a
                        region</small>
                </div>
            </div>




            <div class="form-row">
                <!-- <div class="form-group col-12 col-md-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios2" value="option2" formControlName="SendMail">
                        <label class="form-check-label" for="gridRadios2">
                            Send Invite Mail
                        </label>
                    </div>
                </div> -->

                <div class="form-group custom-check">
                    <input type="checkbox" name="SendMail" id="SendMail" formControlName="SendMail" />
                    <label for="SendMail" class="mb-0">
                        <span class="ui-check"></span>
                        Send Invite Mail
                    </label>
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn success-btn form-btn btn-block">CREATE
                    ACCOUNT</button>
            </div>
        </div>
    </div>
</form>