@use "../../../../../sass/_abstracts/colors";
@use "../../../../../sass/_partials/mixins";
#overlay {
    position: fixed; /* Sit on top of the page content */
    // display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    z-index: 99;


}
#sidebarMenu {
    position: fixed;
    width: 80%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    // padding: 48px 0 0;
    background-color: colors.$SecondaryColorDarkGreen;
    // background-color: colors.$zart-primary-color;
    // box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
    // background-color: #f8f9fa;
    
    &.show {
        left: 0;
    }
    #sideNavToggler {
        display: none;
        padding-left: 2em;
    }
    @include mixins.maxmq(768px) {
        left: -100%;
        #sideNavToggler {
            display: block;
        }
    }

    &.open {
        @include mixins.maxmq(768px) {
            // left: 0;
        }
    }
}

main[role="main"] {
    overflow-y: scroll;
    padding-bottom: 1.5em;
    #main-content-wrapper {
        .inner {
            padding-top: 1.5em;
            @include mixins.minmq(768px) {
                padding-top: 3em;
            }
        }
    }

    .nav-link {
        // color: colors.$zart-primary-color;
    }
}
