<!-- <p>edit-candidate-cv works!</p> -->
<div class="container-fluid page-colored-wrapper" id="admin-dashboard-container">
    <div class="row no-gutters">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar" [ngClass]="{'show': isShowSideNav}">
            <div class="brandlogo-wrapper nav-link cursor-pointer" [routerLink]="['/']">
                <img src="../../../assets/images/zart-brand-logo.svg" alt="" class="img-fluid">
            </div>
            <app-side-navigation></app-side-navigation>
            <!-- <recruiter-sidebar></recruiter-sidebar> -->
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-0" id="edit-candidate-cv-page">            
            <!-- <div id="main-content-wrapper" class="px-md-4">
                <recruiter-toolbar></recruiter-toolbar>
                <router-outlet></router-outlet>
            </div> -->

      <div id="main-content-wrapper">
        <!-- TOOLBAR -->
        <!-- <app-edit-cv-toolbar></app-edit-cv-toolbar> -->
        <!-- <recruiter-toolbar></recruiter-toolbar> -->
        <app-shared-toolbar></app-shared-toolbar>
        <div class="inner px-md-4">
          <router-outlet></router-outlet>
        </div>
      </div>
    </main>
  </div>
</div>
