.upload-control-label {
    border: 1px dashed #4fb278;
    border-radius: 5px;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4fb278;
    .inner {
        width: 100%;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &::before {
        content: url(../../../../../../../assets/images/icons/download-green-icon.svg);
        margin-right: 10px;
    }
}
