@use "../../../../../sass/_abstracts/colors";
@use "../../../../../sass/_partials/mixins";

#toolbar {
    border-bottom: 1px solid rgba(199, 199, 199, 1);
}

#role-tag{

}
#search-input-wrapper {
    width: 100%;
    max-width: 400px;
    + div {
        // width: 100%;
        // background-color: red;
        text-align: right;
        @include mixins.minmq(765px) {
            // max-width: 160px;
            // width: 224px;
        }
    }
}
.profile-image {
    max-width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    img {
        border-radius: 50%;
    }
}

#notification-bell {
    position: relative;
    .notice {
        height: 8px;
        border-radius: 50%;
        width: 8px;
        border: 1px solid #ffffff;
        background-color: colors.$PrimaryColorGreen;
        position: absolute;
        top: 0;
        right: 0;
    }
}

#search-input {
    border: 1px solid rgba(199, 199, 199, 1);
    border-radius: 5px;
    input {
        border: none;
        &:focus {
            border: none !important;
        }
    }
}

#filter-list {
    .dropdown-content {
        height: 300px;
        overflow-y: scroll;
    }
}
