<div class="container">
  <h1 class="text-center page-title mb-5">Create Todo</h1>
  <form>
    <div class="row">
      <div class="col-md-6 mb-5">
        <label for="todo-title" class="form-label"
          >To do Title<span>*</span></label
        >
        <input type="text" class="form-control" id="todo-title" value="" />
      </div>
      <div class="col-md-6 mb-5">
        <label for="date-field" class="form-label "
          >Due Date<span>*</span></label
        >
        <input type="date" class="form-control" id="date-field" />
      </div>
      <div class="col-md-6 mb-5">
        <label for="assign-field" class="form-label">Assign a Candidate</label>
        <input type="date" class="form-control" id="date-field" />
      </div>
      <div class="col-md-6 mb-5">
        <label for="time-field" class="form-label">Time<span>*</span></label>
        <div class="row">
          <div class="col-md-6">
            <input type="time" class="form-control" id="time-field" />
          </div>
          <div class="col-md-6">
            <input type="time" class="form-control" id="time-field" />
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <label for="desc-field" class="form-label"
          >Description<span>*</span></label
        >
        <textarea class="form-control"></textarea>
      </div>
    </div>
    <div class="mt-3">
    <button type="submit" class="btn btn-success">Save</button>

    </div>
  </form>
</div>
