.form-control-wrapper {
    border: 1px dashed #62CC7B;
    border-radius: 20px;
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8FAF1;
    input[type="file"] {
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        opacity: 0;
        position: absolute;
        width: 100%;
        z-index: 2;
    }
}