.company-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #14323e;
}
.intro-data {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4f656e;
    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        li {
            margin-right: 3em;
            &:last-child {
                margin-right: 0;
            }
            &.icon-before {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                &::before {
                    margin-right: 5px;
                }
            }
            &.time.icon-before {
                &::before {
                    content: url(../../../../../../assets/images/icons/clock-green-icon.svg);
                }
            }
            &.onsite.icon-before {
                &::before {
                    content: url(../../../../../../assets/images/icons/briefcase-green-icon.svg);
                }
            }
            &.date.icon-before {
                &::before {
                    content: url(../../../../../../assets/images/icons/calendar-green-icon.svg);
                }
            }
            &.location.icon-before {
                &::before {
                    content: url(../../../../../../assets/images/icons/location-green-icon.svg);
                }
            }
            &.money.icon-before {
                &::before {
                    content: url(../../../../../../assets/images/icons/money-green-icon.svg);
                }
            }
        }
    }
}
#placement-description {
    .title {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #4f656e;
    }
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #4f656e;
    }
}

#placement-table{
    position: relative;
    z-index: 0;
    #create-project-btn{
        position: absolute;
        font-weight: bold;
        right: 0;
        z-index: 2;
        &::before{
            content: "+";
            font-weight: bold;
            margin-right: .5em;
            font-size: 1rem;
        }
    }
}