<!-- <nav
  id="sidebarMenu"
  class="d-md-block sidebar overflow-auto"
  [ngClass]="{ show: isShowSideNav }"
>
  <div class="brandlogo-wrapper nav-link">
    <img
      src="../../../assets/images/new-zarttech-brand-logo.svg"
      alt=""
      class="img-fluid"
    />
  </div>
  <recruiter-sidebar></recruiter-sidebar>
</nav> -->
<!-- <div
  style="position: fixed; left: 300px;top:0; width: 200px; height: 100vh; background: blue"
></div> -->
<app-new-sidebar></app-new-sidebar>
<app-secondary-nav></app-secondary-nav>
<main
  [style.margin-left.px]="
    (sbService.sidebarWidth | async)! + (sbService.subnavWidth | async)!
  "
  role="main"
  class="px-md-4"
>
  <div id="main-content-wrapper">
    <recruiter-toolbar></recruiter-toolbar>
    <div class="">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
<app-custom-overlay></app-custom-overlay>
