<!-- <p>candidate-portfolio-linkedin works!</p> -->
<ul class="social-icons list-style-none pl-0 d-flex">
    <!-- <li>{{candidateProfile?.LinkedinPlatform}}</li> -->
    <li>
        <a href="{{candidateProfile?.LinkedinPlatform}}">
            <i class="fab fa-linkedin"></i>
        </a>
    </li>
    <li>
        <a href="{{candidateProfile?.PortfolioPlatform}}">
            <i class="fas fa-briefcase"></i>
        </a>
    </li>
    <!-- <li>{{candidateProfile?.PortfolioPlatform}}</li> -->
</ul>