@use "../../../../../../../sass/_partials/mixins";
a, span.logout-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    // padding: 0.5em 1.5em;
    padding-left: 20px;
    line-height: 40px;
    color: #14323e;
    @include mixins.transition(all 300ms ease-in-out);
    &.router-link-active,
    &:hover {
        background-color: #d0eadb;
    }
    &.router-link-active {
        border-right: 5px solid #14984b;
    }

    .icon {
        width: 20px;
        margin-right: 10px;
    }
}

span.logout-link{
    &:hover {
        background-color:  rgba(175, 35, 25, .3);
    }

}

.height-spacer {
    height: 50px;
}
