#intro-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-family: "Poppins";
    font-style: normal;
    .name {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #8a999f;
        margin-bottom: 10px;
    }

    .value {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #14323e;
        div:first-child {
            margin-right: 4px;
        }
        .icon {
            max-width: 25px;
            &:first-child {
                margin-right: 4px;
            }
        }
    }
}
