<!-- <p>applicant-list works!</p> -->
<!-- Applicants -->
<div class="content-container pb-5" id="recruitment-table">
  <div class="table-content-head">
    <ul class="title-list list-style-none pl-0">
      <li>Name</li>
      <li>Position</li>
      <li>Email</li>
      <li>Mobile No.</li>
      <li>Location</li>
      <!-- <li>Progress</li> -->
      <li class="action"></li>
    </ul>
  </div>
  <div class="table-content-body">
    <ng-template #noApplicant>
      <div
        class="alert alert-info text-center"
        style="width: calc(300px + calc(200px * 6))"
      >
        No application
      </div>
    </ng-template>

    <cdk-accordion
      class="example-accordion"
      *ngIf="Applicants?.length; else noApplicant"
    >
      <cdk-accordion-item
        *ngFor="
          let application of Applicants
            | paginate
              : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: totalPosts
                };
          let index = index
        "
        #accordionItem="cdkAccordionItem"
        class="example-accordion-item"
        role="button"
        tabindex="0"
        [attr.id]="'accordion-header-' + index"
        [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-' + index"
      >
        <div
          class="example-accordion-item-header"
          (click)="accordionItem.toggle()"
        >
          <ul
            class="body-list list-style-none pl-0 mb-0 d-flex align-items-center"
          >
            <li class="d-flex align-items-center">
              <div class="company-logo">
                <img
                  src="assets/images/sample-company-logo.png"
                  alt=""
                  class="img-fluid"
                  *ngIf="!application?.Candidate.ProfileImageUrl"
                />
                <img
                  src="{{ application?.Candidate.ProfileImageUrl }}"
                  alt=""
                  class="ing img-fluid"
                  *ngIf="application?.Candidate.ProfileImageUrl"
                />
              </div>
              <div>
                {{ application?.Candidate.FirstName }}&nbsp;{{
                  application?.Candidate.LastName
                }}
              </div>
            </li>
            <li>
              <div>{{ application?.Vacancies.JobTitle }}</div>
            </li>
            <li>
              <div>{{ application?.Candidate.Email }}</div>
            </li>
            <li>
              <div>{{ application?.Candidate.PhoneNumber }}</div>
            </li>
            <li>
              <div>
                <app-applicant-location
                  [candidateId]="application?.Candidate.Id"
                ></app-applicant-location>
              </div>
            </li>
            <!-- <li>
                            <div>
                                <app-application-process-count [application]="application"></app-application-process-count>/{{ZarttechProcesses?.length}} steps
                            </div>
                        </li> -->
            <li class="text-right">
              <span class="example-accordion-item-description">
                <!-- Click to {{ accordionItem.expanded ? 'close' : 'open' }} -->
                <span class="">
                  <img
                    src="assets/images/icons/angle-circle-green-icon.svg"
                    alt=""
                    class="img-fluid rotate"
                    [ngClass]="{ 'd-none': !accordionItem.expanded }"
                  />
                  <img
                    src="assets/images/icons/angle-circle-grey-icon.svg"
                    alt=""
                    class="img-fluid"
                    [ngClass]="{ 'd-none': accordionItem.expanded }"
                  />
                </span>
              </span>
            </li>
          </ul>
        </div>
        <div
          class="example-accordion-item-body"
          role="region"
          [style.display]="accordionItem.expanded ? '' : 'none'"
          [attr.id]="'accordion-body-' + index"
          [attr.aria-labelledby]="'accordion-header-' + index"
        >
          <!-- INTERNAL PROCESS -->
          <!-- <div>
            <h1 class="block-title">Internal Hiring Process</h1> -->
          <!-- <div class="process-monitor">
              <ul class="list-style-none pl-0">
                <li class="" *ngFor="let process of ZarttechProcesses">
                </li>
                <li class="passed">
                                    <div class="inner">
                                        <div class="bulb">
                                            <i class="fas fa-check"></i>
                                        </div>
                                        <div class="process-date">3 April 2022</div>
                                        <div class="process-title">Code challenge</div>
                                        <div class="process-status">
                                            <span>Passed</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="active">
                                    <div class="inner">
                                        <div class="bulb">
                                            <i class="fas fa-check"></i>
                                        </div>
                                        <div class="process-date">8 April 2022</div>
                                        <div class="process-title">Recruiter interview</div>
                                        <div class="process-status">
                                            <span>Passed</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <div class="bulb">
                                            <i class="fas fa-check"></i>
                                        </div>
                                        <div class="process-date">8 April 2022</div>
                                        <div class="process-title">Technical interview</div>
                                        <div class="process-status">
                                            <span>Passed</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <div class="bulb">
                                            <i class="fas fa-check"></i>
                                        </div>
                                        <div class="process-date">8 April 2022</div>
                                        <div class="process-title">Offer</div>
                                        <div class="process-status">
                                            <span>Passed</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <div class="bulb">
                                            <i class="fas fa-check"></i>
                                        </div>
                                        <div class="process-date">8 April 2022</div>
                                        <div class="process-title">Contract signing</div>
                                        <div class="process-status">
                                            <span>Passed</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <div class="bulb trophy">
                                            <img src="assets/images/icons/trophy.svg" alt="" class="img-fluid default-trophy" />
                                            <img src="assets/images/icons/trophy-gold.svg" alt="" class="img-fluid passed-trophy" />
                                        </div>
                                        <div class="process-date">8 April 2022</div>
                                        <div class="process-title">Hired</div>
                                        <div class="process-status">
                                            <span>Passed</span>
                                        </div>
                                    </div>
                                </li>
              </ul>
            </div> -->
          <!--  -->

          <!-- Recruiter actions -->
          <div class="text-right">
            <ul id="recruiter-actions" class="list-style-none pl-0">
              <li *ngIf="application.Status !== 'Hired'">
                <app-reject-candidate-button
                  [application]="application"
                ></app-reject-candidate-button>
              </li>

              <!-- <li>
                  <button
                    class="action-btn btn btn-sm scorecard-btn"
                    [routerLink]="['/recruiter/employee-management/recruitment/create-score']"
                  >
                    Create scorecard
                  </button>
                </li> -->
              <!-- <li>
                  <app-schedule-interview-button
                    [application]="application"
                    [firstZartProcess]="firstZartProcess"
                    (processStartedEvent)="receiveEvent($event)"
                  ></app-schedule-interview-button>
                </li> -->
              <!-- <li>
                  <button
                    class="action-btn btn btn-sm next-stage-btn"
                    (click)="
                      openProcessorDialog(application, ZarttechProcesses)
                    "
                  >
                    Proceed to the next stage
                  </button>
                </li> -->
              <li>
                <button
                  class="action-btn btn btn-sm view-cv-btn"
                  [routerLink]="[
                    '/recruiter/candidates/cv-preview',
                    application?.Candidate.Id
                  ]"
                >
                  View CV
                </button>
              </li>
              <li *ngIf="application.Status !== 'Hired'">
                <app-shortlist-candidate-button
                  [application]="application"
                ></app-shortlist-candidate-button>
              </li>
              <li *ngIf="application.Status === 'Hired'">
                <!-- <button
                  class="action-btn"
                  (click)="
                    openProcessorDialog(application, ZarttechProcesses)
                  "
                > -->
                <button class="action-btn" disabled>
                  <img
                    class="btn-img"
                    src="assets/images/icons/trophy-icon.svg"
                    alt="reject icon"
                  /><span>Hired</span>
                </button>
              </li>
              <!-- <li>
                  <app-delete-application-button
                    [application]="application"
                  ></app-delete-application-button>
                </li> -->
            </ul>
          </div>
          <!-- </div> -->
          <!-- <hr /> -->

          <!-- EXTERNAL PROCESS -->
          <!-- <div>
            <h1 class="block-title">External Hiring Process</h1>
            <div class="process-monitor" id="external">
              <div
                class="alert text-center alert-info"
                *ngIf="!CompanyProcesses?.length"
              >
                No available process
              </div>
              <ul class="list-style-none pl-0" *ngIf="CompanyProcesses?.length">
                <li *ngFor="let process of CompanyProcesses">
                  <div class="inner">
                    <div
                      class="bulb"
                      (click)="onOpenDialog(process, application)"
                    >
                      <i class="fas fa-check"></i>
                    </div>
                    <div class="process-title">{{ process?.Name }}</div>
                    <div
                      [ngClass]="{
                        'process-status': process.Successful == true
                      }"
                      *ngIf="process.Successful == true"
                    >
                      <span>Passed</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div> -->
          <!-- <hr /> -->

          <!-- QUESTIONS -->
          <!-- <ul class="list-style-none pl-0 application-questions">
            <li>
              <div class="question">
                How many years of experience do you have ?
              </div>
              <div class="response">
                <input
                  type="text"
                  value="5 years"
                  class="form-control"
                  readonly
                />
              </div>
            </li>
            <li>
              <div class="question">Are you willing to work remotely?</div>
              <div class="response">
                <input type="text" value="Yes" class="form-control" readonly />
              </div>
            </li>
            <li>
              <div class="question">
                How many years experience do you have in unsing XD
              </div>
              <div class="response">
                <input
                  type="text"
                  value="2 years"
                  class="form-control"
                  readonly
                />
              </div>
            </li>
          </ul> -->
        </div>
      </cdk-accordion-item>
    </cdk-accordion>
  </div>
</div>

<!-- PAGINATION -->
<div *ngIf="Applicants?.length" class="text-right" id="pagination">
  <pagination-controls
    (pageChange)="pageChangeEvent($event)"
  ></pagination-controls>
</div>
