<!-- <p>finish-page works!</p> -->
<div class="page-wrapper">
  <div class="inner">
    <!-- <div class="featured-image">
            <img src="../../../../../../../assets/images/profile-setup-finish-featured-image.jpg" alt="" class="img-fluid">
        </div>
        <hr>
        <div class="featured-image">
            <img src="../../../../../../../assets/images/profile-setup-finish-feature-image.png" alt="" class="img-fluid">
        </div>
        <hr> -->
    <div class="featured-image">
      <img
        src="../../../../../../../assets/images/profile-setup-finish-feature-image.svg"
        alt=""
        class="img-fluid"
      />
    </div>
    <h1 class="title">
      All set!!<br />
      Successfully Updated profile
    </h1>
    <div class="text-center">
      <a
        [routerLink]="[
          '/candidate/account/profile/',
          candidateId,
          candidateEmail
        ]"
        class="btn action-btn next-btn"
        >Proceed</a
      >
    </div>
  </div>
</div>
