

table{
    thead {
        background-color: #DADADA;
    }
    tbody{
        background-color: #F0F0F0;
    }

    .bi-pencil {
        color: #4FB278;
    }

    .bi-trash3 {
        color: #FF4444;
        ;
    }
}

// .d-flex {
//     .btn {
//         background-color: white;
//         border: 1px solid #14984B;
//         color: #14984B;
//         font-weight: 500;

//         &:hover {
//             // background-color: #dee2e6;
//             background-color: red;
//         }
//     }
// }
