.chat {
  font-family: "Poppins" !important;
}

.text-green {
  color: #14984b;
}

.page-title {
  line-height: unset !important;
  margin-bottom: 0;
  font-size: 2rem;
  font-family: "Poppins" !important;
  font-weight: 700;
}

.chat-container {
  border: 1px solid #dadada;
  background: #f0f0f0;
  border-radius: 10px;
  font-size: 15px;
}

.chat-main {
  height: 100vh;
}
