<!-- <p>practice works!</p> -->
<ul class="nav">
  <!-- <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/practice']" routerLinkActive="router-link-active">Home</a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/practice/dynamic-forms']" routerLinkActive="router-link-active">Dynamic forms</a>
  </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/practice/angular-redux']" routerLinkActive="router-link-active">Angular redux</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/practice/social-sharing']" routerLinkActive="router-link-active">Social sharing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/practice/drag-and-drop']" routerLinkActive="router-link-active">Drag & drop</a>
    </li>
  </ul>

  
<!-- <ul class="list-group">
    <li class="list-group-item" [routerLink]="['/practice/dynamic-forms']" routerLinkActive="router-link-active">Dynamic forms</li>
    <li class="list-group-item" [routerLink]="['/practice/angular-redux']" routerLinkActive="router-link-active">Angular redux</li>
    <li class="list-group-item" [routerLink]="['/practice/social-sharing']" routerLinkActive="router-link-active">Social sharing</li>
</ul> -->
<router-outlet></router-outlet>