<!-- <p>timesheet works!</p> -->

<div class="dashboard-page-Wrapper">
  
    <h1 class="page-title mb-5">Timesheet</h1>
    
    <div class="timesheet d-flex justify-content-between align-items-center mb-5">
        <div>
            <h4>Candidate</h4>
            <span>Ali Raheed</span>
        </div>

        <div>
            <h4>Total Time</h4>
            <span>24:57:34</span>
        </div>

        <div class="input-group mb-3 d-flex align-items-center">
            <div class="btn border border-right-0">
                <button class="btn border-0" type="button"> <i class="bi bi-chevron-left"></i> </button>
                <button class="btn border-0" type="button"> <i class="bi bi-chevron-right"></i> </button>
            </div>
            <input type="text" class="form-control rounded-0" placeholder="This week">
        </div>
    </div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Project</th>
                <th scope="col">Mo, Apr 18</th>
                <th scope="col">Tu, Apr 19</th>
                <th scope="col">We, Apr 20</th>
                <th scope="col">Th, Apr 21</th>
                <th scope="col">Fr, Apr 22</th>
                <th scope="col">Sa, Apr 23</th>
                <th scope="col">Su, Apr 24</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"> Integration Portal </th>
                <td>
                    <input type="number">
                </td>
                <td>
                    <input type="number">
                </td>
                <td>
                    <input type="number">
                </td>
                <td>
                    <input type="number">
                </td>
                <td>
                    <input type="number">
                </td>
                <td>
                    <input type="number">
                </td>
                <td>
                    <input type="number">
                </td>
                <td>7:56:20</td>
            </tr>
            <tr>
                <th scope="row"> Leasey Time </th>
                <td>
                    <input type="number">
                </td>
                <td>
                    <input type="number">
                </td>
                <td>
                    <input type="number">
                </td>
                <td>
                    <input type="number">
                </td>
                <td>
                    <input type="number">
                </td>
                <td>
                    <input type="number">
                </td>
                <td>
                    <input type="number">
                </td>
                <td>7:56:20</td>
            </tr>
        </tbody>
    </table>
    
</div>  
