<!-- <p>flag-block-dialog works!</p> -->
<div class="card border-rounded-lg">
    <div class="card-body">
        <form [formGroup]="StatusForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="StatusComment">Status Comment</label>
                <textarea class="form-control" id="StatusComment" rows="3" formControlName="StatusComment"></textarea>
            </div>
            <button class="btn btn-block success-btn">
                <ng-container *ngIf="!isSending"> Activate Status</ng-container>
                <ng-container *ngIf="isSending">Updating...</ng-container>
               </button>
        </form>
    </div>

</div>