.individual-chat {
  position: relative;
  cursor: pointer;
  border-right: 5px solid transparent;
  padding: 5px 20px;
  transition: all 0.3s ease-in;
  &.selected,
  &:hover {
    background: #d0eadb;
    border-right: 5px solid #14984b;
  }

  .avatar-container {
    position: relative;
    margin-right: 10px;
    .avatar {
      width: 35px;
      border-radius: 50%;
    }
    .online-indicator {
      position: absolute;
      right: 0;
      bottom: -5px;
      width: 8px;
      height: 8px;
      background: #14984b;
      border: 1px solid #fff;
      border-radius: 50%;

      &.offline {
        background: #c7c7c7;
      }
    }
  }
  .name {
    color: #4f656e;
    font-size: 14px;
  }
  .unread {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #14984b;
    opacity: 0;

    &.show {
      opacity: 1;
    }
  }
}
