#form-body {
    background: #f0f0f0;
    border-radius: 5px;
}

.form-title {
    font-family: "Poppins" !important;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #4f656e;
}
