#update-deal-stage-btn {
    background: #DADADA;
}

#deals-detailed-information {}

#border-bottom-tab-navigation {
    .init-line {
        // border-bottom: 1px solid #C7C7C7;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);

        .nav-link {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            color: #B5B5B5;
            height: 48px;
            padding: 0 24px;
            cursor: pointer;
            box-sizing: border-box;
            opacity: .6;
            min-width: 160px;
            text-align: center;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            position: relative;

            &.router-link-active {
                color: #14984B;
                border-bottom: 2px solid #14984B;
                margin-bottom: -1px;
            }
        }
    }
}