<!-- <p>set-new-password works!</p> -->
<div class="page-container">
    <div class="inner">
        <div class="form-wrapper">
            <div class="card border-rounded-lg">
                <div class="card-body">
                    <h5 class="text-center form-title">Reset Password</h5>
                    <div class="text-center text-info" *ngIf="responseMessage">
                        <div>{{responseMessage}}</div>
                        <div *ngIf="ResponseCode">Click <a class="text-link" [routerLink]="['/auth']">here</a> to login
                        </div>
                    </div>
                    <small class="text-danger text-center">{{failureRequest}}</small>
                    <form [formGroup]="SetNewPasswordForm" (ngSubmit)="setNewPassword()" novalidate
                        *ngIf="!ResponseCode">
                        <div class="form-group">
                            <label for="Password">New Password</label>
                            <input type="password" class="form-control" id="Password"
                                [ngClass]="{'is-invalid': SetNewPasswordForm.get('Password')?.touched && SetNewPasswordForm.get('Password')?.invalid}"
                                name="Password" formControlName="Password"
                                pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
                            <span class="invalid-feedback">
                                <small id="PasswordErrorMsg" class="form-text text-danger"
                                    *ngIf="SetNewPasswordForm.get('Password')?.hasError('required')">Password is
                                    required.
                                </small>
                                <small id="PasswordErrorMsg" class="form-text text-danger"
                                    *ngIf="SetNewPasswordForm.get('Password')?.hasError('symbol')">Password must
                                    contain
                                    at least a number, capital letter and special character.
                                </small>
                                <small id="PasswordErrorMsg" class="form-text text-danger"
                                    *ngIf="SetNewPasswordForm.get('Password')?.hasError('minlength')">Password
                                    must
                                    contain a minimum of 8 characters.
                                </small>
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword">Confirm Password</label>
                            <input type="password" class="form-control" id="ConfirmPassword"
                                [ngClass]="{'is-invalid': SetNewPasswordForm.get('ConfirmPassword')?.touched && SetNewPasswordForm.get('ConfirmPassword')?.invalid}"
                                name="ConfirmPassword" formControlName="ConfirmPassword"
                                pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
                            <small id="ConfirmPasswordErrorMsg" class="form-text text-danger invalid-feedback">Passwords
                                must
                                match.</small>
                        </div>
                        <button class="btn success-btn btn-block" [disabled]="SetNewPasswordForm.invalid">SET
                            PASSWORD</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>