<div class="card">
  <div class="card-body">
    <h5 class="form-title text-center">Create Channel</h5>
    <form [formGroup]="CreateChannelForm">
      <div class="form-group">
        <label for="Name" class="required-field-label">Channel Name</label>
        <input
          type="text"
          class="form-control"
          id="Name"
          formControlName="Name"
          required
        />
      </div>
      <div class="form-group">
        <label for="Description" class="required-field-label"
          >Channel Description</label
        >
        <input
          type="text"
          class="form-control"
          id="Description"
          formControlName="Description"
          required
        />
      </div>
      <button
        mat-dialog-close
        class="btn success-btn"
        [disabled]="CreateChannelForm.invalid"
        (click)="openAddTeammatesDialog()"
      >
        Add
      </button>
    </form>
  </div>
</div>
