@use "../../../../../../sass/_partials/mixins";

.column-action{
    width: 90px;
}


#action-tool {
    display: flex;
    width: 100%;
    max-width: 450px;
    // > li {
    //     &:first-child {
    //         flex-basis: calc(100% / 1.5);
    //         padding-right: 20px;
    //     }
    //     &:last-child {
    //         flex-basis: calc(100% / 3);
    //     }
    // }
    // align-items: flex-end;
    // justify-content: space-between;
    // flex-wrap: wrap;
    flex-direction: column;
    > li {
        &:first-child {
            margin-bottom: 10px;
        }
    }
    @include mixins.minmq(425px) {
        flex-direction: row;
        > li {
            &:first-child {
                flex-basis: calc(100% / 1.5);
                padding-right: 20px;
                margin-bottom: 0;
            }
            &:last-child {
                flex-basis: calc(100% / 3);
            }
        }
    }
}