<!-- <p>candidate-application-history works!</p> -->
    <div class="h-100">
        <h1 class="block-title">
            History
        </h1>
        <div class="card display-content-card">
            <div class="card-body">
                <app-candidate-application-list [candidateId]="candidateId"></app-candidate-application-list>
                <!-- <ul class="list-style-none pl-0" id="history">
                    <li>
                        <div class="inner">
                            <div class="indicator">
                                <div class="bulb"></div>
                            </div>
                            <div>
                                <div class="date">2nd May 2022</div>
                                <div class="title">Applied to Project Management</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="indicator">
                                <div class="bulb"></div>
                            </div>
                            <div>
                                <div class="date">2nd May 2022</div>
                                <div class="title">Applied to Project Management</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="indicator">
                                <div class="bulb"></div>
                            </div>
                            <div>
                                <div class="date">2nd May 2022</div>
                                <div class="title">Applied to Project Management</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="indicator">
                                <div class="bulb"></div>
                            </div>
                            <div>
                                <div class="date">2nd May 2022</div>
                                <div class="title">Applied to Project Management</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="indicator">
                                <div class="bulb"></div>
                            </div>
                            <div>
                                <div class="date">2nd May 2022</div>
                                <div class="title">Interviewed for Web Designer Role</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="indicator">
                                <div class="bulb"></div>
                            </div>
                            <div>
                                <div class="date">2nd May 2022</div>
                                <div class="title">Rejected for Web designer role</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="indicator">
                                <div class="bulb"></div>
                            </div>
                            <div>
                                <div class="date">2nd May 2022</div>
                                <div class="title">Shortlisted For Web Developer role</div>
                            </div>
                        </div>
                    </li>
                </ul>
                <a href="#" class="btn btn-sm btn-default show-more-btn">Show more</a> -->
            </div>
        </div>
    </div>
