.page-title {
  line-height: unset !important;
  margin-bottom: 0;
  font-size: 2rem;
  font-family: "Poppins" !important;
}

.back-icon {
  width: 11px;
}

.list-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.check-list {
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // right: 0;
  // left: 0;
  display: flex;
  align-items: flex-start;
  // background-color: yellow;

  li {
    flex-basis: calc(100% / 5);
  }
  &.recommend {
    li {
      flex-basis: calc(100% / 3);
      > strong {
        display: block;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }
      // .form-group{
      //     text-align: center;
      // }
    }
  }
}

.comment-section {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  label {
    margin-right: 1em;
    white-space: nowrap;
    margin-bottom: 0;
    font-size: 13px;
  }
}
.comment-input {
  border-right: 0;
  border-left: 0;
  border-top: 0;
  padding-right: 0;
  padding-left: 0;
  // padding-top: 0;
  border-radius: 0 !important;
  height: 30px;
  width: 100%;
  &:focus {
    border-right: 0 !important;
    border-left: 0 !important;
    border-top: 0 !important;
  }
}

.final-score {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
