<!-- <p>success works!</p> -->
<div class="verification-form-wrapper">
  <div class="inner">
    <div class="form-step-indicator text-center">
      <ul class="steps">
        <li class="step done">
          <div>
            <!-- <div class="number">01</div> -->
            <div class="heading">
              <span class="number">01</span>
              <span class="step-title">Picture upload</span>
            </div>
            <div class="bulb"></div>
          </div>
        </li>
        <li class="step done">
          <div>
            <!-- <div class="number">02</div> -->
            <div class="heading">
              <span class="number">02</span>
              <span class="step-title">Government ID</span>
            </div>
            <div class="bulb"></div>
          </div>
        </li>
        <li class="step done">
          <!-- <div class="number">03</div> -->
          <div>
            <div class="heading">
              <span class="number">03</span>
              <span class="step-title">Address Verification</span>
            </div>
            <div class="bulb"></div>
          </div>
        </li>
        <li class="step done">
          <!-- <div class="number">04</div> -->
          <div>
            <div class="heading">
              <span class="number">04</span>
              <span class="step-title">Proof of Expertise</span>
            </div>
            <div class="bulb"></div>
          </div>
        </li>
        <li class="step done">
          <!-- <div class="number">05</div> -->
          <div>
            <div class="heading">
              <span class="number">05</span>
              <span class="step-title">Guarantor</span>
            </div>
            <div class="bulb"></div>
          </div>
        </li>
        <li class="step active">
          <!-- <div class="number">06</div> -->
          <div>
            <div class="heading">
              <span class="number">06</span>
              <span class="step-title">Success</span>
            </div>
            <div class="bulb"></div>
          </div>
        </li>
      </ul>
    </div>

    <div class="card mb-4 border-0">
      <div class="fieldset card-body">
        <div class="row align-items-center content-wrapper">
          <div class="col-12 col-md-5">
            <div class="img-container">
              <div class="img-wrapper">
                <img
                  src="../../../../assets/images/verification-landing-page-assets/verification-success-image.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
          <div class="col-12 col-md-7">
            <h1>Successfully Submitted</h1>
            <p>
              Your verification was successfully submitted, You’ll be notified
              of your verification status via email within the next 48 hours.
              <br /><br />
              Thank you.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-right">
      <div class="d-flex align-items-start">
        <button class="btn white-btn-green-border back-icon mr-4 ml-auto">
          Back
        </button>
        <button class="btn success-btn">Finish</button>
      </div>
    </div>
  </div>
</div>
