@use "../../../../../../../sass/_partials/mixins";
@use "../../../../../../../sass/_abstracts/colors";
.jid-custom-dropdown-select {
    position: relative;
    --dropBtnWidth: 35px;
    .jid-select-control{
        height: 50px; display: flex; align-items: center; cursor: pointer;
    }
    .select-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        // background-color: lightcoral;
        .drop-label {
            // background-color: #4fb278;
        }
        .drop-trigger {
            width: var(--dropBtnWidth);
            display: flex;
            justify-content: flex-end;
            &.rotate {
                transform: rotate("180deg");
                display: flex;
                justify-content: flex-start;
            }
            &::before {
                content: "";
                display: block;
                height: 13px;
                width: 13px;
                background-image: url(../../../../../../../assets/images/icons/angle-down-icon.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
    .custom-select-dropdown {
        background-color: #ffffff;
        padding: 1em 0.8em;
        width: 100%;
        max-width: 400px;
        position: absolute;
        top: 50px;
        right: 0;
    }

    .new-tag-input {
        border: 1px solid colors.$Grey;
        .form-control {
            border: none;
            &:focus {
                border: none !important;
            }
        }
    }

    input[type="checkbox"] {
        position: absolute;
        &:checked + label {
            // color: red;
        }
        position: absolute;
        opacity: 0;
        &:checked + label {
            color: rgba(76, 111, 53, 1);
            .fake-box {
                padding: 1px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                background-color: colors.$PrimaryColorGreen75;
                &::before {
                    @include mixins.before("\f00c", 12px);
                    color: #ffffff;
                }
            }
        }
    }
    label {
        display: flex;
        align-items: center;
        .fake-box {
            // width: 10px;
            // height: 10px;
            background: #d9d9d9;
            display: block;
            width: 1.2rem;
            min-width: 1.2rem;
            height: 1.2rem;
            left: 409px;
            top: 450px;
            // background: #ffffff;
            // border: 2px solid colors.$Grey;
            box-sizing: border-box;
            margin-right: 1em;
        }
    }

    .selected-drop-list {
        // background-color: lightgoldenrodyellow;
        height: 100%;
        width: calc(100% - var(--dropBtnWidth));
        display: flex;
        align-items: center;
        padding: 0;
        .list-item {
            margin-right: 0.5em;
            background: #d0eadb;
            border: 1px solid #4fb278;
            border-radius: 15.5px;
            font-weight: 400;
            font-size: 0.8rem;
            line-height: 18px;
            color: #4fb278;
            padding: 0.1em 0.5em;
            max-width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}