<!-- <p>others works!</p> -->
<h1 class="page-title">Lastly some extra info about you</h1>
<div class="page-tagline pb-5">Is there anything you’d like us to know?</div>
<!-- app-certification -->
<app-certification></app-certification>
<hr>

<!-- app-language-spoken -->
<app-language-spoken></app-language-spoken>
<hr>

<!-- app-admin-candidate-summary -->
<app-admin-candidate-summary></app-admin-candidate-summary>
<hr>

<!-- app-recruiter-opinion -->
<app-recruiter-opinion></app-recruiter-opinion>

<!--  -->
<div class="py-2 d-flex align-items-center justify-content-between">
    <button type="submit" class="btn success-btn px-md-5" (click)="onGoBack()">BACK</button>
    <button type="submit" class="btn success-btn px-md-5" [routerLink]="['/edit-candidate-cv/summary']">PREVIEW</button>
</div>