<!-- <p>reset-password works!</p> -->
<form [formGroup]="SetNewPasswordForm" class="update-form" (ngSubmit)="onSetNewPassword()" novalidate>
    <!-- <div class="form-group">
        <label for="FirstName">Old Password</label>
        <input type="password" id="FirstName" class="form-control">
    </div> -->
    <div class="text-center text-info" *ngIf="responseMessage">
        <div>{{responseMessage}}</div>
    </div>
    <div class="form-group">
        <label for="NewPassword">New Password</label>
        <input type="password" id="NewPassword" class="form-control"
            [ngClass]="{'is-invalid': SetNewPasswordForm.get('Password')?.touched && SetNewPasswordForm.get('Password')?.invalid}"
            name="Password" formControlName="Password"
            pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
        <span class="invalid-feedback">
            <small id="PasswordErrorMsg" class="form-text text-danger"
                *ngIf="SetNewPasswordForm.get('Password')?.hasError('required')">Password is
                required.
            </small>
            <small id="PasswordErrorMsg" class="form-text text-danger"
                *ngIf="SetNewPasswordForm.get('Password')?.hasError('symbol')">Password must
                contain
                at least a number, capital letter and special character.
            </small>
            <small id="PasswordErrorMsg" class="form-text text-danger"
                *ngIf="SetNewPasswordForm.get('Password')?.hasError('minlength')">Password
                must
                contain a minimum of 8 characters.
            </small>
        </span>
    </div>
    <div class="form-group">
        <label for="ConfirmNewPassword">Confirm New Password</label>
        <input type="password" id="ConfirmNewPassword" class="form-control"
            [ngClass]="{'is-invalid': SetNewPasswordForm.get('ConfirmPassword')?.touched && SetNewPasswordForm.get('ConfirmPassword')?.invalid}"
            name="ConfirmPassword" formControlName="ConfirmPassword"
            pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
        <small id="ConfirmPasswordErrorMsg" class="form-text text-danger invalid-feedback">Passwords
            must
            match.</small>
    </div>
    <div class="d-flex align-items-center">
        <button class="btn success-btn mr-2" [disabled]="SetNewPasswordForm.invalid">Save</button>
        <button type="button" class="btn outline-success-btn" (click)="onCloseUpdatePersonalInfoForm_()">Cancel</button>
    </div>
</form>