<!-- <p>password-verification works!</p> -->
<!-- <p>phone-email-verification works!</p> -->
<div class="verification-form-wrapper">
    <div class="inner">
        <h1 class="title">Password</h1>
        <h2 class="sub-title">Enter your password</h2>

        <form #verifyPasswordForm="ngForm" (ngSubmit)="onSubmit(verifyPasswordForm)">
            <div class="card mb-4 border-0">
                <!-- <form #verifyPasswordForm="ngForm" (ngSubmit)="onSubmit(verifyPasswordForm)"> -->
                <div class="fieldset card-body">
                    <div class="form-row align-items-end">
                        <div class="form-group col-12 col-md-6">
                            <label for="Password" class="required-field-label">Password</label>
                            <div class="verification-input-group input-group">
                                <input type="{{ControlType1}}" class="form-control verification-code-input" aria-describedby="button-addon2" name="Password" ngModel required #Password="ngModel">
                                <div class="input-group-append">
                                    <button type="button" class="btn eye-icon-btn" type="button" id="button-addon2" (click)="onToggleType1()"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row align-items-end">
                        <div class="form-group col-12 col-md-6">
                            <label for="ConfirmPassword" class="required-field-label">Confirm Password</label>
                            <div class="verification-input-group input-group">
                                <input type="{{ControlType2}}" class="form-control verification-code-input" aria-describedby="button-addon2" name="ConfirmPassword" ngModel required #ConfirmPassword="ngModel">
                                <div class="input-group-append">
                                    <button class="btn eye-icon-btn" type="button" id="button-addon2" (click)="onToggleType2()"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </form> -->
            </div>
            <div class="text-right">
                <div class="d-flex align-items-start">
                    <button class="btn white-btn-green-border back-icon mr-4 ml-auto">Back</button>
                    <button class="btn success-btn">Continue</button>
                </div>
            </div>
        </form>
    </div>
</div>