<!-- <p>number-of-employees-form works!</p> -->
<div id="number-of-employees">
    <form>
        <div class="d-flex align-items-center" id="form-control-wrapper">
            <label class="required-field-account-setup" for="inlineFormCustomSelectPref">Employees</label>
            <select class="custom-select form-control my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>Size</option>
                <option [value]="number" *ngFor="let number of numberOfEmployees">{{number}}</option>
            </select>
        </div>
        <div class="text-center">
            <div class="d-flex align-items-center justify-content-center">
                <button type="button" class="btn white-setup-btn">Prev</button>
                <span class="mx-1"></span>
                <button type="submit" class="btn primary-setup-btn next-btn-alt">Next</button>
            </div>
        </div>
    </form>
</div>