<!-- <p>applicant-score-card works!</p> -->

<div class="dashboard-page-Wrapper">
    <h1 class="page-title mb-4">Score card</h1>

    <div class="row no-gutters">
        <div class="col-12 col-md-3" *ngFor="let item of [1, 2, 3, 4, 5]">
            <div class="card score-preview-card cursor-pointer">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="card-icon"></div>
                            <div class="card-title">Scorename 001</div>
                        </div>
                        <div class="angle-right"></div>
                    </div>
                    <div>
                        <ul class="bottom-list list-style-none pl-0 mb-0">
                            <li>
                                <div class="card-label">Score</div>
                                <div class="card-value score">8/10</div>
                            </li>
                            <li>
                                <div class="card-label">Recruiter</div>
                                <div class="card-value">Brooklyn Simmonsoooooooooooooooooooo</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <app-scoreboard></app-scoreboard> -->
    <!--  -->

</div>