.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

mat-stepper {
  form {
    min-height: 90vh;
  }
}

legend {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #4f656e;
}

.company-brand-logo-wrapper{
  max-width: 100px;
  padding: .5em;
}

