<!-- <p>preview-recruiter-opinion works!</p> -->
<div *ngIf="!recruiterOpinion">
    <div class="alert alert-info text-center">
        {{infoMessage}}
    </div>
</div>

<table class="table table-borderless" *ngIf="recruiterOpinion">
    <!-- <thead class="thead-light">
        <tr>
            <th scope="col" colspan="6">Recruiter opinion</th>
        </tr>
    </thead> -->
    <tbody>
        <tr *ngFor="let item of recruiterOpinion">
            <!-- <th scope="row">
                <div [innerHTML]="item?.opinion"></div>
            </th> -->
            <td scope="row">
                <div [innerHTML]="item?.opinion"></div>
            </td>
            <td class="text-right">
                <div class="d-flex no-wrap">
                    <button class="btn btn-sm py-0 ml-auto" (click)="isEditForm(item)">
                        <i class="fas fa-pen text-info"></i>
                    </button>
                    <button class="btn btn-sm py-0" (click)="removeOpinion(item.id)">
                        <i class="fas fa-trash text-danger"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>