<!-- <p>employees works!</p> -->

<!-- Table Employees -->
<div class="dashboard-table table-responsive">
  <table class="table">
    <thead class="thead">
      <tr>
        <th scope="col">Employee Name</th>
        <th scope="col">Time Tracked(hh:mm)</th>
        <th scope="col">Time Left(hh:mm)</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <div class="d-flex align-items-center">
            <div class="company-logo">
              <img
                src="assets/images/sample-company-logo.png"
                alt=""
                class="img-fluid"
              />
            </div>
            <div>Johnson & Johnson</div>
          </div>
        </th>
        <td>25:35</td>
        <td>25:35</td>
        <td>
          <ul class="action-btns list-style-none pl-0 mb-0">
            <li>
              <button
                class="btn btn-sm action-danger-btn reject-applicant-btn"
              ></button>
            </li>
            <li>
              <button class="btn btn-sm action-btn shortlisted-btn"></button>
            </li>
            <li>
              <button class="btn btn-sm action-btn call-btn">Call</button>
            </li>
            <li>
              <button class="btn btn-sm action-btn message-btn">Message</button>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
