<!-- <p>events-calendar works!</p> -->

<div class="card calendar-content-card">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <h2 class="block-title mb-0">Calendar</h2>
            <button class="btn btn-outline-secondary btn-sm" (click)="openAddEventDialog()">Add Event</button></div>
        <full-calendar [options]="calendarOptions"></full-calendar>
        <!-- <full-calendar></full-calendar> -->
        <!--  -->
    </div>
</div>