<!-- <p>reset-company-contact-password works!</p> -->
<h1 class="text-center form-title">Reset Password</h1>
<form>
    <div class="form-group">
      <label for="exampleInputEmail1" class="required-field-label">Username</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="required-field-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn success-btn">
        <i class="fas fa-undo"></i>
        Reset</button>
  </form>
