/*COLOR VARIABLES*/
// $PrimaryColorGreen: rgba(20, 152, 75, 1);
$PrimaryColorGreen: #4164AD;

$SecondaryColorDarkGreen: rgba(20, 50, 62, 1);
$BackgroundGrey: rgba(240, 240, 240, 1);
$BodyBackgroundColor: #e5e5e5;
$PrimaryColorGreen20: rgba(208, 234, 219, 1);
$PrimaryColorGreen75: rgba(79, 178, 120, 1);
$Grey: rgb(181, 181, 181);
