
.form-control-wrapper {
    border: 1px dashed #62cc7b;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #e8faf1;
    padding: 0.3em 0.5em;
    font-size: 0.8rem;
    //
    width: 100%;
    min-width: 195px;
    height: 50px;
    border: 1px dashed #4fb278;
    box-sizing: border-box;
    border-radius: 5px;
    label {
        cursor: pointer;
        margin: 0;
        //
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #4fb278;
        display: flex;
        align-items: center;
        white-space: nowrap;
        margin: 0px 24px;
        &::before {
            // @include mixins.before("", inherit);
            content: "";
            display: block;
            background-image: url("../../../../../../../assets/images/icons/upload-green-icon.svg");
            width: 18px;
            height: 15px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 0.5em;
        }
    }
    input[type="file"] {
        height: 100%;
        opacity: 0;
        position: absolute;
        left: -1000000000px;
        bottom: 0;
        width: 100%;
        z-index: 2;
        cursor: pointer;
        // background-color: red;
        padding: 0;
    }
}
