<!-- <p>activity-email-card works!</p> -->

<div class="card email-type-card border-rounded-lg">
  <div class="card-body">
    <div class="d-flex align-items-start">
      <div class="profile-avatar-wrapper">
        <img src="../../../../../../../../assets/images/candidate-test-avatar-1.png" alt="" class="img-fluid">
      </div>
      <div class="w-100">
        <!-- <h5 class="title">Email Title</h5> -->
        <h5 class="title">{{itemContent?.title}}</h5>
        <div class="d-flex align-items-center justify-content-between flex-wrap mb-3">
          <!-- <div class="email">dolores.chambers@example.com</div> -->
          <div class="email">{{itemContent?.email}}</div>
          <div class="date">
            <!-- <span>3:59:00 7 January 2021</span> -->
            <span>{{itemContent?.date | date}}</span>
            <span class="btn-group">
              <button class="btn reply-black-icon-btn"></button>
              <button class="btn star-black-icon-btn"></button>
            </span>
          </div>
        </div>
<!-- 
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae at tincidunt elit.
          Tortor non metus et amet sagittis, et lorem nullam fames. Cursus scelerisque enim mattis
          in
          ornare sit lacinia facilisis. Quam in sit commodo mollis neque ultricies urna.</p> -->
        <p>{{itemContent?.body}}</p>
        <!-- <address>
          Mick Barne<br />
          Senior Account Manager<br />
          Zarttech B.V. The Netherlands (HQ)<br />
          www.zarttech.com<br />
          +31 85 208 2627<br />
          www.zarttech.com<br />
        </address> -->
        <address>
          {{itemContent?.sender?.name}}<br />
          {{itemContent?.sender?.title}}<br />
          {{itemContent?.sender?.company}}<br />
          {{itemContent?.sender?.phoneNumber}}<br />
          {{itemContent?.sender?.website}}
        </address>
      </div>
    </div>
  </div>
</div>