<!-- <p>generate-company-contact-password works!</p> -->
<h1 class="text-center form-title">Generate Password</h1>
<form>
  <div class="form-group">
    <label for="exampleInputPassword1" class="required-field-label">Password</label>    
    <!-- {{control}} -->
    <div class="input-group mb-3 generate-password">
        <input type={{control}} class="form-control password">
        <div class="input-group-append">
          <button class="btn" type="button" id="button-addon2" (click)="passwordInputToggler()">
            <i class="fas fa-eye" [class]="{'d-none': isPasswordInput}"></i>
            <i class="fas fa-eye-slash" [class]="{'d-none': !isPasswordInput}"></i>
          </button>
        </div>
      </div>
  </div>
  <button type="submit" class="btn success-btn">Generate</button>
</form>
